<!DOCTYPE html>
<html>
<head>
 <title>AngularJS & Bootstrap Form Validation</title>
 <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
 -->
     <script src="angular.min.js"></script>
     <script src="jquery.min.js"></script>    
<script src="bootstrap.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="ngStorage.js"></script>
<!-- <link rel="stylesheet" href="dragdrop.css">-->
<link rel="stylesheet" href="scaffold.css">
    <link rel="stylesheet" href="login.css">

</head>
<body ng-app="myapp" ng-controller="mainController">

 
 <div id="login">
   <div class="container">
 <div class="col-sm-8 col-sm-offset-2">
 <!-- PAGE HEADER -->
 <div class="page-header"><h1>Enter your credentials</h1></div>
 
 <!-- FORM : YOU CAN DISABLE, HTML5 VALIDATION BY USING "novalidate" ATTRIBUTE-->
 <form name="userForm" ng-submit="testData()">
 <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && (userForm.username.$dirty || submitted)}">
 <label>Username</label>
 <input type="text" name="username" class="form-control" ng-model="login.username" placeholder="Your Username" ng-minlength="3" ng-maxlength="8" ng-required="true">
 <p ng-show="userForm.username.$error.required && (userForm.username.$dirty || submitted)" class="help-block">You username is required.</p>
 <p ng-show="userForm.username.$error.minlength && (userForm.username.$dirty || submitted)" class="help-block">Username is too short.</p>
 <p ng-show="userForm.username.$error.maxlength && (userForm.username.$dirty || submitted)" class="help-block">Username is too long.</p>
 </div>
 
 <!-- PASSWORD -->
 <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && (userForm.password.$dirty || submitted)}">
 <label>Password</label>
 <input type="Password" name="password" class="form-control" ng-model="login.password" placeholder="Your Password" ng-required="true">
 <p ng-show="userForm.password.$error.required && (userForm.password.$dirty || submitted)" class="help-block">Your password is required.</p>
 </div>
 <button type="submit" class="btn btn-primary">Login</button>
 </form>
 </div>
 </div>
 <br />
<!--<script src="routes.js"></script>-->
<script src="RegisterDemo.js"></script>
</div>
</div>
</div>
</body>
</html>