<!DOCTYPE html>
<html>
<head>
 <title>AngularJS & Bootstrap Form Validation</title>
   <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
  <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
  -->

     <script src="jquery.min.js"></script>    
 <script src="angular.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="ngStorage.js"></script>    
    
<script src="RegisterDemo.js"></script>    
<script src="PaginationController.js"></script>    
 <link rel="stylesheet" href="css/AdminStyles.css">
 <link rel="stylesheet" href="scaffold.css">
  

</head>
<body ng-app="myapp" ng-controller="UserController" > 
<div class="container">

 <span id="msg">{{msg}}</span>
 <h3><span id="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>items:{{selectedItem}}<br>Total:{{total|currency}}</span></h3>
 <div class="page-header"><h1>Products</h1>
 <div class="bar1">
		<!-- Create a binding between the searchString model and the text field -->
	  <center>	<input type="text" ng-model="search"  placeholder="Enter your search terms" /></center>
	</div>
	</div>
	      <div ng-controller="PaginationCtrl">
        <table class="table table-hover">
        <thead>
          
      <tr>
        <th>Product Id</th>
        <th>Photos</th>
        <th>Product Name</th>
         <th>Price</th>
          <th>Detail</th>
        <th>Quantity</th>
        <th>Adding to Cart</th>
        
      </tr>
      </thead>
       <tbody>
       
         <tr ng-repeat="data in items | filter : search  | offset: currentPage*itemsPerPage| limitTo: itemsPerPage ">
                 <td>{{data.productId}}</td>
                  <td><img ng-src='{{data.imageUrl}}' width=200 height=200/></td>
                <td><b>{{data.productName}}</b></td>
                <td>{{data.price |currency}}</td>
                <td><button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">View Details</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Product Name:{{data.productName}}</p>
        <p>Price:{{data.price |currency}}</p>
        <p>Description:{{data.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div></td>
                 <td><span id="merge"><h3><span ng-click="minusIcon()"><i class="fa fa-minus-circle" aria-hidden="true" id="icon"></i></span></h3><input id="quantity" type="number" min="1" ng-model="quantity">
                 <h3><i class="fa fa-plus-circle" aria-hidden="true" id="icon" ng-click="plusIcon()"></i></h3></span></td>
                  <td><button type="button" class="btn btn-success btn-md" ng-click="addToCart(data.price)">Add to Cart</button></td>

                
            </tr>
        </tbody>
        <tfoot>
        <td colspan="3">
          <div class="pagination" id="pagination">
            <ul>
              <li ng-class="prevPageDisabled()">
                <a href ng-click="prevPage()">&lt;&lt;Prev</a>
              </li>
              <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="#">{{n+1}}</a>
              </li>
              <li ng-class="nextPageDisabled()">
                <a href ng-click="nextPage()">Next &gt;&gt;</a>
              </li>
            </ul>
          </div>
        </td>
      </tfoot>       
        </table>
        </div>
 
</div>
</body>
</html>